/* Estilo del contenido de la pagina */
.contenido {
  /* text-align: center; */
  display: flex;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
  height: 38em;
  justify-content: center;
}
/* Estilo del formulario */
.formulario {
    display: block;
  /* min-width: 600px;
  min-height: 350px; */
  /* border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;  
  /* background-color: #fff; */
  background-color: rgb(193, 235, 253);
  margin: auto;
  width: 100%;
  max-width: 600px;
  padding: 1em 1em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0, 0, 0 / 30%);
}
/* Tamaño a los label del formulario */
.formulario label{
    font-size: 18px;
    font-weight: 555;
}
/* Estilo del titulo del formulario */
#titulo {
    font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  padding: 12px;
}
/* Estilo de la colomna derecha */
.col1 {
  /* background-color: black; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* width: 77vh; */
  /* height: 80vh; */
}
/* Estilo de la columna izquierda */
.col2 {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* width: 99vh; */
  /* height: 80vh; */
}
/* Estilo del contenido dentro de la columna a la derecha 
    ubicacion     
*/
.ubicacion {
    /* background-color: aqua; */
  flex-direction: column;
  min-width: 80vh;
  min-height: 25vh;
}
.ubi-contect strong{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    /* display: flex; */
    /* margin-bottom: 10px; */
}
.ubi-contect p{
    font-size: 21px;
}
.ubi-contect{
  top: 50%;
  margin-top: 25px; /* (- menos) la mitad del valor de la altura del elemento hijo */
}
/* Estilo del contenido dentro de la columna a la derecha en 
    la parte de abajo SIGUEME y los botones de redes
 */
.siguenos{
    /* background-color: aqua; */
  flex-direction: column;
  min-width: 80vh;
  min-height: 25vh;
}
.sigue-contect{
  margin-top: 25px; /* (- menos) la mitad del valor de la altura del elemento hijo */
}
.sigue-contect strong{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    display: flex;
}
.icon{
    border-radius: 80px;
    height: 65px;
    width: 65px;
    margin: 10px;
    font-size: 35px;
    cursor: pointer;
    z-index: 10001;
}
/* Estilo de color de tamaño de error en un input */
.error{
    font-size: 12px;
    font-weight: bold;
    color: rgb(255, 0, 0);
}
.exito{
    text-align: center;
    justify-content: center;
    color: rgb(77, 209, 84);
}
.btn-regreso{
    margin-top: 30px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
}
